.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  margin-top: 16px;
}

.waveCount {
  text-align: center;
  margin: 16px 0;
  font-weight: bold;
  font-style: italic;
  font-size: 24px;
}

.messageInput {
  width: 70%;
  outline: none;
  margin: 10px auto;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

button {
  cursor: pointer;
  margin: 10px auto;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  width: 50%;
  background-color: #393966;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);
  color: #e2e2e2;
  font-size: 24px;
  font-weight: bold;
}

button:active {
  background-color: rgb(41, 41, 73);
}

.loading {
  text-align: center;
  margin-top: 16px;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}

.waveContainer {
  background-color: #34344e;
  margin-top: 16px;
  padding: 10px;
  line-height: 1.5;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.bold {
  font-weight: bold;
}
